body{
height: 100vh;
}
.buttons{
 
display: flex;
flex-direction: column;
align-items: center;
margin-top: 6rem;

}

/*Place order page */
div.order_form{
display: flex;
flex-direction: column;
height: 83vh;
align-items: center;
justify-content: space-around;
padding: 30px;

}
select {
width: 320px;
margin: 4px;
}
 label{
  margin:5px;
  background: none !important;
   border: none !important;
   font-size: 20px !important;
   font-weight: bold !important;
}

/*Cancle component model style*/

.modal-window {
   position: fixed;
   background-color: rgba(255, 255, 255, 0.25);
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 999;
   visibility: hidden;
   opacity: 0;
   pointer-events: none;
   transition: all 0.3s;
}
.modal-window:target {
   visibility: visible;
   opacity: 1;
   pointer-events: auto;
}
.modal-window > div {
   width: 400px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 2em;
   background: white;
}
.modal-window header {
   font-weight: bold;
}
.modal-window h1 {
   font-size: 150%;
   margin: 0 0 15px;
}
.modal-close {
   color: #aaa;
   line-height: 50px;
   font-size: 80%;
   position: absolute;
   right: 0;
   text-align: center;
   top: 0;
   width: 70px;
   text-decoration: none;
}
.modal-close:hover {
   color: black;
}
.container_cancleorder {
   display: grid;
   justify-content: center;
   align-items: center;
   height: 86vh;
 
}
.modal-window > div {
   border-radius: 1rem;
}
.modal-window div:not(:last-of-type) {
   margin-bottom: 15px;
}
small {
   color: lightgray;
}
.btn {
   background-color: #e60000;
   padding:12px;
   border-radius: 3px;
   color: #fff;
   width: 13rem;
 
   text-decoration: none;
}

.btn:hover{
   background-color: #e23906;
   color: #fff;
}
.btn i {
   padding-right: 0.3em;
}

 